.inputHolder {
    display: flex;
    border: 2px solid #605b4c;
    border-radius: 1rem;
    padding: 1rem;
}

.textField {
    width: 100%;
    border: none;
    margin-right: 1rem;
}

.submitButton {
    margin-left: auto;
}